<div class="full-block">
<div class="scroll-block">
    <div class="popup-pad">
        <div class="correct-padding-div">
        {% for question_answer in section.questionsAnswers %}
        <h2>{{ question_answer.question }}</h2>
        <p>{{ question_answer.answer }}</p>
        {% endfor %}
        </div>
        <div class="comments">
            <a class="blue-button button open-comment-form" href="#">написать комментарий</a>
            <div id="comment_sended"></div>
            <h2>Комментарии</h2>
            <div class="comment-form" id="form_comment">
                {{ form_start(form, {'action': path('faq_ajax_save_comment', { 'id':section.id }), 'method': 'POST'}) }}
                <div class="item">
                    {% set error = '' %}
                    {% set error_message = '' %}
                    {% if form.email.vars.errors|length %}
                        {% set error = 'error' %}
                        {% set error_message = form_errors(form.email)|striptags %}
                    {% endif %}
                    {{ form_widget(form.email, {'attr':{'class':error, 'title':error_message} }) }}
                    {{ form_widget(form.phone, {'attr':{'class':'margin-none'} }) }}
                    <div class="clear"></div>
                </div>
                <div class="item">
                    <div class="textarea">
                        {{ form_widget(form.content, {'attr':{'cols':30, 'rows':10} }) }}
                    </div>
                </div>
                <div class="item captcha-block">
                    {{ form_widget(form.captcha) }}
                    {{ form_widget(form.save) }}
                </div>
                <div class="clear"></div>
              {{ form_row(form.section,{'attr':{'value':section}}) }}
                {{ form_end(form) }}
            </div>
            {% for comment in section.comments %}
            {% if comment.answered == 1 %}
            <ul>
                <li>
                    <div class="grey-who">{{ comment.date|date('d.m.Y') }}</div>
                    <div class="comment">
                        <p>
                            {{ comment.content }}
                        </p>
                    </div>
                </li>
            </ul>
            {% endif %}
            {% endfor %}
            <div class="clear"></div>
        </div>

    </div>
</div>
</div>
{% block javascripts %}
    <script src="{{ asset('bundles/infofaq/js/faq_validate_comment.js') }}" type="text/javascript"></script>
{% endblock %}
