{% block subject %}
    {% autoescape false %}
    {{ title }}
    {% endautoescape %}
{% endblock %}
{% block body_html %}

    <div style="width: 647px; margin: 0 auto; padding: 0 0 0 0; font-family: Arial;">
        <table style="border-collapse: collapse; width: 647px; border: 3px solid #dddddd;">
            <tr><td style="padding: 29px 83px 0 82px;">
                    <table style="border-collapse: collapse; width: 482px;">
                        <tr>
                            <td style="padding: 0 0 47px 0;"><h1 style="margin: 0 0 0 0;"><a href="{{ url('strokit_core_homepage') }}" style="border: none;"> <img src="{{ img.logo }}" alt="StrOkIT" style="border: none;" /></a></h1></td>
                        </tr>
                        <tr>
                            <td style="padding: 0 0 27px 0;"><h2 style="margin: 0 0 0 0; font-size: 14px; color: #15183a; font-family: Arial;">Уважаемый владелец почтового адреса <a href="mailto:{{ email }}" style="color: #4e79c6;">{{ email }}</a>!</h2></td>
                        </tr>
                        <tr>
                            <td style="padding: 0 0 17px 0;"><p style="margin: 0 0 0 0; font-size: 11px; color: #848484; font-family: Arial;">
                                    {{ body_mes|raw }}
                            </td>
                        </tr>
                        <tr>
                            <td style="padding: 0 0 34px 0;"><p style="margin: 0 0 0 0; font-size: 11px; color: #103069; font-family: Arial;">
                                    <p>С уважением, коллектив StrOkIT.</p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>

{% endblock %}