{% extends "::base.html.twig" %}
{% block title %}
    {{ parent() }} : Новости
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/sonatanews/css/style.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
    <div class="news-list">
        <h1 class="title">{{ 'title_news'|trans({}, 'SonataNewsBundle') }}</h1>
        <ul>
            {% for post in pager.getResults() %}
                <li>
                    <div class="date">{{ post.publicationDateStart | format_date }}</div>
                    <h2>
                        <a href="{{ url('sonata_news_view', { 'permalink': sonata_news_permalink(post) }) }}">{{ post.title }}</a>
                    </h2>
                </li>

            {% else %}
                {{ 'no_post_found'|trans({}, 'SonataNewsBundle') }}
            {% endfor %}
        </ul>
        <div class="clear"></div>
    </div>


    <div class="sonata-blog-post-pagination">
    </div>
    <div class="pagination">
        <ul>
            {% if pager.haveToPaginate() %}

                {% if pager.page != pager.previouspage %}
                    <li><a href="{{ url(route, route_parameters|merge({'page': pager.previouspage})) }}">&larr;</a></li>
                {% endif %}

                {% for page in pager.links %}
                    <li><a href="{{ url(route, route_parameters|merge({'page': page})) }}">{{ page }}</a></li>
                {% endfor %}

                {% if pager.page != pager.nextpage %}
                    <li><a href="{{ url(route, route_parameters|merge({'page': pager.nextpage})) }}">&rarr;</a></li>
                {% endif %}
            {% endif %}
        </ul>
    </div>

{% endblock %}