{#

/*
 * This file is part of the Sonata package.
 *
 * (c) Thomas Rabaix <thomas.rabaix@sonata-project.org>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

#}

<form action="{{ url('sonata_news_add_comment', {'id': post_id}) }}" method="POST" >
    <div class="comment-form">
        <div class="item">
            <input type="text" placeholder="E-mail" value="">
            <input type="text" placeholder="Номер телефона" value="">
            <div class="clear"></div>
        </div>
        <div class="item">
            <div class="textarea">
                <textarea cols="30" rows="10" placeholder="текст сообщения"></textarea>
            </div>
        </div>
        <div class="item captcha-block">
            <a href="#" class="captcha-img"><img src="/img/capcha.png" alt="capcha"></a>
            <input type="text" placeholder="Введите цифры с картинки" value="" class="mini-input">
            <input type="submit" value="Отправить сообщение">
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>

    <div class="clearfix">
        {{ form_row(form.name) }}
    </div>

    <div class="clearfix">
        {{ form_row(form.email) }}
    </div>

    <div class="clearfix">
        {{ form_row(form.name) }}
    </div>

    <div class="clearfix">
        {{ form_row(form.name) }}
    </div>

    {{ form_rest(form) }}

    <input type="submit" value="{{'btn_add_comment'|trans({}, 'SonataNewsBundle') }}" />
</form>