{#

/*
 * This file is part of the Sonata package.
 *
 * (c) Thomas Rabaix <thomas.rabaix@sonata-project.org>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
 */

#}

<div class="comment-form" id="form_comment">
    {{ form_start(form, {'action': path('sonata_news_add_comment', { 'id':post_id }), 'method': 'POST'}) }}
    <div class="item">
        {% set error = '' %}
        {% set error_message = '' %}
        {% if form.email.vars.errors|length %}
            {% set error = 'error' %}
            {% set error_message = form_errors(form.email)|striptags %}
        {% endif %}
        {{ form_widget(form.email, {'attr':{'class':error, 'title':error_message} }) }}
        {{ form_widget(form.name, {'attr':{'class':'margin-none'} }) }}
        <div class="clear"></div>
    </div>
    <div class="item">
        <div class="textarea">
            {{ form_widget(form.message, {'attr':{'cols':30, 'rows':10} }) }}
        </div>
    </div>
    <div class="item captcha-block">
        {{ form_widget(form.captcha) }}
        {{ form_widget(form.save) }}
    </div>
    <div class="clear"></div>
    {{ form_end(form) }}
</div>