<div class="full-block">
    <div class="scroll-block">
        <div class="popup-pad">
            <div class="news-full">
                <h1>{{ post.title }}</h1>
                <div class="date">{{ post.publicationDateStart | format_date }}</div>
                {{ post.content|raw }}
            </div>

            <div class="share">
                <ul>
                    <li><a href="#"><img src="/img/facebook.png" alt="Facebook"></a></li>
                    <li><a href="#"><img src="/img/gplus.png" alt="Google+"></a></li>
                    <li><a href="#"><img src="/img/twitter.png" alt="twitter"></a></li>
                    <li><a href="#"><img src="/img/vk.png" alt="ВКонтакте"></a></li>
                    <li><a href="#"><img src="/img/mailru.png" alt="Mail ru"></a></li>
                    <li class="last"><a href="#"><img src="/img/oneeye.png" alt="Одноглазники"></a></li>
                </ul>
                <div class="clear"></div>
            </div>

            <div class="tags">
                {% for tag in post.tags%}
                    <a href="{{ url('sonata_news_tag', {'tag': tag.slug} ) }}">{{ tag.name }}</a>
                    {% if not loop.last%}, {%endif%}
                {% endfor %}
            </div>

            <div class="comment-form">
                <div class="item">
                    <input type="text" placeholder="E-mail" value="">
                    <input type="text" placeholder="Номер телефона" value="">
                    <div class="clear"></div>
                </div>
                <div class="item">
                    <div class="textarea">
                        <textarea cols="30" rows="10" placeholder="текст сообщения"></textarea>
                    </div>
                </div>
                <div class="item captcha-block">
                    <a href="#" class="captcha-img"><img src="/img/capcha.png" alt="capcha"></a>
                    <input type="text" placeholder="Введите цифры с картинки" value="" class="mini-input">
                    <input type="submit" value="Отправить сообщение">
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
            </div>

        </div>
    </div>
</div>

<div class="sonata-blog-post-container">
        <div class="sonata-blog-post-date-container">
            {{ post.publicationDateStart | format_date }}
        </div>

        <h1 class="sonata-blog-post-title">
            <a href="{{ url('sonata_news_view', { 'permalink': sonata_news_permalink(post) }) }}">{{ post.title }}</a>
            <span class="sonata-blog-post-author">{{ 'archive_author'|trans({'%author%': post.author }, 'SonataNewsBundle') }}</span>
        </h1>

        <div class="sonata-blog-post-information">

            <div class="sonata-blog-post-tag-container">
                <div class="sonata-blog-post-tag-title">
                    {{ 'published_under'|transchoice(post.tags|length, {}, 'SonataNewsBundle') }}
                </div>
                <div class="sonata-blog-post-tag-list">
                    {% for tag in post.tags%}
                        <a href="{{ url('sonata_news_tag', {'tag': tag.slug} ) }}">{{ tag.name }}</a>
                        {% if not loop.last%}, {%endif%}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="sonata-blog-post-content">
            {{ post.content|raw }}
        </div>

        {% render(controller('SonataNewsBundle:Post:comments', {'postId': post.id})) %}

        {% if post.iscommentable %}
            {% render(controller('SonataNewsBundle:Post:addCommentForm', {
            'postId': post.id,
            'form': form
            })) %}
        {% else %}
            <div>
                {{ 'message_comments_are_closed'|trans({}, 'SonataNewsBundle') }}
            </div>
        {% endif %}
    </div>
