{% extends "::base.html.twig" %}
{% block title %}
    {{ parent() }} : Новости - {{ post.title }}
{% endblock %}

{% block meta_description %}
    {{ post.abstract|raw  }}
{% endblock %}

{% block facebook_image_url %}
    {% path post.image, 'small' %}
{% endblock %}

{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block body %}
    <div class="sonata-blog-post-container">
        <div class="sonata-blog-post-date-container">
            {{ post.publicationDateStart | format_date }}
        </div>

        <h1 class="sonata-blog-post-title">
            <a href="{{ url('sonata_news_view', { 'permalink': sonata_news_permalink(post) }) }}">{{ post.title }}</a>
            <span class="sonata-blog-post-author">{{ 'archive_author'|trans({'%author%': post.author }, 'SonataNewsBundle') }}</span>
        </h1>

        <div class="sonata-blog-post-information">

            <div class="sonata-blog-post-tag-container">
                <div class="sonata-blog-post-tag-title">
                    {{ 'published_under'|transchoice(post.tags|length, {}, 'SonataNewsBundle') }}
                </div>
                <div class="sonata-blog-post-tag-list">
                    {% for tag in post.tags%}
                        <a href="{{ url('sonata_news_tag', {'tag': tag.slug} ) }}">{{ tag.name }}</a>
                        {% if not loop.last%}, {%endif%}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="sonata-blog-post-content">
            {{ post.content|raw }}
        </div>

        {% render(controller('SonataNewsBundle:Post:comments', {'postId': post.id})) %}

        {% if post.iscommentable %}
            {% render(controller('SonataNewsBundle:Post:addCommentForm', {
            'postId': post.id,
            'form': form
            })) %}
        {% else %}
            <div>
                {{ 'message_comments_are_closed'|trans({}, 'SonataNewsBundle') }}
            </div>
        {% endif %}
    </div>
{% endblock body %}
