<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>{% block title %}Элсом{% endblock %}</title>
    <link href="{{ asset('public/css/font.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('public/css/style.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('public/css/media-queries.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('public/css/colorbox.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('public/css/perfect-scrollbar.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('public/css/ezmark.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ asset('public/css/animate.css') }}" rel="stylesheet" type="text/css">
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body>
<div id="body">
    <div id="wrapper">

        {% include '::header.html.twig' %}
        <a href="{{ path('info_feedback') }}" class="feedback-link">{{ 'feedback.global'|trans({}, 'InfoFeedbackBundle') }}</a>


        <div class="breadcrumb">
            {{ knp_menu_render('breadcrumb',{'currentAsLink':false,template : '::main_menu.html.twig'}) }}
            <div class="clear"></div>
        </div>

        <div class="animated fadeInRightBig {% block contentclass %}content{% endblock %}">
        {% block body %}{% endblock %}
            {% render controller('InfoLinkBundle:Default:showLinksWithImage', {'serviceCategory':'appstore'}) %}
        </div>
        <div class="temp"></div>
    </div>

    {% include '::footer.html.twig' %}
</div>

<script src="{{ asset('public/js/jquery-1.10.2.min.js') }}"></script>
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
<script src="{{ asset('public/js/jquery.backstretch.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('public/js/jquery.colorbox-min.js') }}" type="text/javascript"></script>
<script src="{{ asset('public/js/jquery.mousewheel.js') }}" type="text/javascript"></script>
<script src="{{ asset('public/js/perfect-scrollbar.js') }}" type="text/javascript"></script>
<script src="{{ asset('public/js/jquery.validate.min.js') }}" type="text/javascript"></script>
<script src="{{ asset('public/js/jquery.jtruncate.js') }}" type="text/javascript"></script>
<script src="{{ asset('public/js/jquery.ezmark.js') }}" type="text/javascript"></script>
<script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;" type="text/javascript"></script>
<script src="{{ asset('public/js/script.js') }}" type="text/javascript"></script>
<script type="text/javascript">
    $.backstretch(["{{ asset('public/img/bg.png') }}"]);
</script>
{% block javascripts %}
{% endblock %}
</body>
</html>
