
<div class="footer">
    <div class="sub-footer">
        <ul class="footer-menu">
            <li><a href="{{ path('info_elsom_homepage') }}">{{ 'home'|trans({},'InfoElsomBundle') }}</a></li>
            <li class="has-child">
                <a href="#">О нас</a>
                <div class="drop-menu">
                    <ul>
                        <li><a href="#">Пункт меню</a></li>
                        <li><a href="#">Пункт меню</a></li>
                        <li><a href="#">Пункт меню</a></li>
                        <li><a href="#">Пункт меню</a></li>
                        <li><a href="#">Пункт меню</a></li>
                        <li><a href="#">Пункт меню</a></li>
                    </ul>
                </div>
            </li>
            <li><a href="{{ path('sonata_news_home') }}">{{ 'title_news'|trans({},'SonataNewsBundle') }}</a></li>
            <li><a href="{{ path('info_service_index') }}">{{ 'service.title'|trans({},'InfoPageBundle') }}</a></li>
            <li><a href="{{ path('info_faq') }}">{{ 'faq.title'|trans({},'InfoFAQBundle') }}</a></li>
            <li><a href="#">контакты</a></li>
            <li><a href="#">Пользовательское соглашение</a></li>
            <li>Все права защищены 2013</li>
        </ul>
        <div class="clear"></div>
    </div>
</div>