
<div class="footer">
    <div class="sub-footer">
        <ul class="footer-menu">
            <li><a href="{{ path('info_elsom_homepage') }}">{{ 'home'|trans({},'InfoElsomBundle') }}</a></li>
            <li><a href="{{ path('info_page', {'url':'about'}) }}" rel="colorbox">{{ 'about.title'|trans({},'InfoPageBundle') }}</a></li>
            <li><a href="{{ path('sonata_news_home') }}">{{ 'title_news'|trans({},'SonataNewsBundle') }}</a></li>
            <li><a href="{{ path('info_service_index') }}">{{ 'service.title'|trans({},'InfoPageBundle') }}</a></li>
            <li><a href="{{ path('info_faq') }}">{{ 'faq.title'|trans({},'InfoFAQBundle') }}</a></li>
            <li><a href="{{ path('info_page', {'url':'contacts'}) }}" rel="colorbox">{{ 'contacts.title'|trans({},'InfoPageBundle') }}</a></li>
            <li><a href="{{ path('info_page', {'url':'agreement'}) }}" rel="colorbox">{{ 'agreement.title'|trans({},'InfoPageBundle') }}</a></li>
            <li>Все права защищены 2013</li>
        </ul>
        <div class="clear"></div>
    </div>
</div>