
<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key={{ googleMapKey }}&sensor=true"></script>
<script type="text/javascript"
        src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/markerclusterer/src/markerclusterer.js"></script>
<script type="text/javascript" src="{{ asset("/bundles/infomap/js/googleMap.js") }}"></script>
<script type="text/javascript">
    google.maps.event.addDomListener(window, 'load', function ()
    {
        initialize();
        var markers = [];
        {% for terminal in terminals %}
        var marker =initializeFront("{{ terminal.location }}","{{ terminal.address }}",'{% spaceless %}{% include "InfoMapBundle:Front:infoWindow.html.twig" with {'terminal':terminal} %} {% endspaceless %}');
        markers.push(marker);
        {% endfor %}

        var mcOptions = {gridSize: 20, maxZoom: 15};
        var mc = new MarkerClusterer(mapFront, markers, mcOptions);
    });
</script>
<link href="{{ asset("/bundles/infomap/css/front.css") }}" rel="stylesheet"/>
<div id="map-canvas-front" class="map"></div>
