{% extends '::base_inner.html.twig' %}

{% block javascripts %}

<script type="text/javascript"
        src="https://maps.googleapis.com/maps/api/js?key={{ googleMapKey }}&sensor=true"></script>
<script type="text/javascript" src="{{ asset("bundles/infomap/js/googleMap.js") }}"></script>

{% endblock %}

{% block stylesheets %}
    <link href="{{ asset("bundles/infomap/css/front.css") }}" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <h1 class="title">{{ 'list.title'|trans({}, translationDomain) }}</h1>

    <div class="white-back-block">
        <a href="{{ link }}"
           class="to-map-link">{{ 'list.link-to-map'|trans({}, 'InfoMapBundle') }}</a>
        <ul class="map-list">
            {% for item in items %}
                <li>
                    <div class="num-block">
                        <div class="num">{{ loop.index }}.</div>
                        <div class="n-b-text">
                            <h2><a href="{{ path('infomap_show',{'id':item.id,'entity':item.entity}) }}" rel="colorbox">{{ item.name }}</a></h2>

                            <p>
                                <span class="address">{{ item.address }}</span>
                                {% if item.number %}
                                    {{ 'phone'|trans({},'InfoMapBundle') }}: {{ item.number }}
                                {% endif %}
                            </p>
                        </div>
                        <div class="clear"></div>
                    </div>
                </li>
            {% endfor %}
        </ul>

        {{ knp_pagination_render(items,'InfoMapBundle:Pagination:pagination.html.twig') }}

    </div>
{% endblock %}