{% extends '::base_inner.html.twig' %}
{% block javascripts %}
{{ include ('InfoMapBundle:Front:mapScript.js.twig', {'items':items,'entity':entity}) }}
{% endblock %}

{% block stylesheets %}
<link href="{{ asset("bundles/infomap/css/front.css") }}" rel="stylesheet"/>
{% endblock %}

{% block body %}

    <h1 class="title">{{ 'map.title'|trans({}, 'InfoMapBundle') }}</h1>

    {% for entitytype, itemlist in items %}
        <input class="map_filter" type="checkbox" name="{{ entitytype }}">{{ ('checkbox.'~entitytype) |trans({}, 'InfoMapBundle') }}<br>
    {% endfor %}
    <div class="main-map">
        <div class="big-map" id="map-canvas-front" style="height: 487px"></div>

        <i class="map-top"></i>
        <i class="map-right"></i>
        <i class="map-bottom"></i>
        <i class="map-left"></i>
        <a href="{{ path('infomap_all_list') }}" class="map-list-link">смотреть списком</a>
        <div class="clear"></div>
    </div>
{% endblock %}