<div class="full-block">
    <div class="scroll-block">
        <div class="popup-pad">
            <div class="merchant-short">
                <div class="img">
                    <img src="{% if item.image %}{% media item.image, 'small' %}{% else %}{{ asset('public/img/empty-icon.png') }}{% endif %}"
                         width="160px" alt="{{ item.name }}">
                </div>
                <div class="short-info">
                    <h1>{{ item.name }}</h1>

                    <p>{{ item.address }}</p>
                    <table>
                        {% if item.number %}
                            <tr>
                                <td>{{ 'phone'|trans({},'InfoMapBundle') }}:</td>
                                <td>{{ item.number }}</td>
                            </tr>
                        {% endif %}
                        {% if item.fax %}
                            <tr>
                                <td>{{ 'fax'|trans({},'InfoMapBundle') }}:</td>
                                <td>{{ item.fax }}</td>
                            </tr>
                        {% endif %}
                        {% if item.email %}
                            <tr>
                                <td>{{ 'email'|trans({},'InfoMapBundle') }}E-mail:</td>
                                <td><a href="mailto:{{ item.email }}">{{ item.email }}</a></td>
                            </tr>
                        {% endif %}
                        {% if item.url %}
                            <tr>
                                <td>{{ 'web'|trans({},'InfoMapBundle') }}Web:</td>
                                <td><a href="http://{{ item.url }}" target="_blank">{{ item.url }}</a></td>
                            </tr>
                        {% endif %}
                    </table>
                </div>
                <div class="clear"></div>
            </div>

            <div class="merchant-info">
                <h2>{{ 'information'|trans({},'InfoMapBundle') }}</h2>

                <p>
                    {{ item.description }}
                </p>

                <div class="main-map">
                    <div class="big-map" id="map2" style="height: 250px;visibility: hidden;"></div>

                    <i class="map-top"></i>
                    <i class="map-right"></i>
                    <i class="map-bottom"></i>
                    <i class="map-left"></i>

                    <div class="clear"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    window.setTimeout(function() {
    var googleMap = $("#cboxLoadedContent").find("#map2")[0];
    var mapPopup = initialize(googleMap);
    setMarker("{{ item.location }}", mapPopup[0],
            "{{ item.address }}",
            '{{ asset('bundles/infomap/img/' ~ item.entity ~ '_icon.png') }}');
    });
</script>
