{% if pageCount > 1 %}
    <div class="pagination green">
        <ul>

        {% if previous is defined %}
            <li><a href="{{ path(route, query|merge({(pageParameterName): previous})) }}">&larr;</a></li>
        {% endif %}

        {% for page in pagesInRange %}
            {% if page != current %}
                <li>
                    <a href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                </li>
            {% else %}
                <li class="current">{{ page }}</li>
            {% endif %}

        {% endfor %}

        {% if next is defined %}
            <li><a href="{{ path(route, query|merge({(pageParameterName): next})) }}">&rarr;</a></li>
        {% endif %}
        </ul>
    </div>
{% endif %}